@import '~bootstrap';
@import '@fortawesome/fontawesome-free';

.search-area {
    padding-top: 50px;
}

.no-right-padding {
    padding-right: 0 !important;
}

.no-left-padding {
    padding-left: 0 !important;
}

.display {
    display: inline-block;
    margin-bottom: 1em;
}